canvas { overflow:auto !important; }

table.tabular-legend td.keycell {
    color:black;
    padding-right:0.3em;
}

table.tabular-legend tr.legend-headings th {
    color:#256;
    font-size:87%;
    background-color:white;
    border-bottom:1px solid #999;
    text-align:center;
}

table.tabular-legend td.keycell {
    font-size:92%;
}

table.tabular-legend td.keycell div.legendkey {
    width:90%;
    float:right;
    text-align:right;
}

table.tabular-legend {
    width:100%;
    border-collapse: separate !important;
    border-spacing: 2px !important;
    border-color: gray !important;
}

table.tabular-legend td.value {
    border-top:1.3333px dotted #bbb !important;
    border-left:1px dotted #bbb;
    text-align:center;
    font-size:100%;
}

.chartdiv { margin-bottom:1em; }
